app/release
*.jks
*.ap_
*.apk
*.class
*.dex
*.iml
*.log
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.externalNativeBuild
.gradle/
.idea
.navigation/
.signing/
/*/build/
Thumbs.db
bin/
build/
captures/
com_crashlytics_export_strings.xml
ehthumbs.db
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline.py
freeline/
freeline_project_description.json
gen/
google-services.json
gradle/
local.properties
out/
proguard/

