<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Utility">
        <activity
            android:name=".stats.GenericActivity"
            android:label="Generic Stats"
            android:exported="false" />
        <activity
            android:name=".stats.FuelActivity"
            android:label="Fuel Stats"
            android:exported="false" />
        <activity
            android:name=".stats.ElectricityActivity"
            android:label="Electricity Stats"
            android:exported="false" />
        <activity
            android:name=".stats.ExpenseActivity"
            android:label="Expense Stats"
            android:exported="false" />
        <activity
            android:name=".stats.StatsSelectionActivity"
            android:label="Stats Type Selection"
            android:exported="false" />
        <activity
            android:name=".LoyaltyActivity"
            android:exported="false"
            android:label="@string/shortcut_loyalty" />
        <activity
            android:name=".TextReceiveActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScannerActivity"
            android:exported="false"
            android:label="@string/shortcut_scanner" />
        <activity
            android:name=".NotesActivity"
            android:exported="false"
            android:label="@string/shortcut_config" />
        <activity
            android:name=".DownloadActivity"
            android:exported="false"
            android:label="@string/shortcut_download" />
        <activity
            android:name=".MapActivity"
            android:exported="false"
            android:label="@string/shortcut_map"
            android:theme="@style/AppTheme.NavOverlay.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
    </application>

</manifest>